<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Wine</title>
</head>
<body>
    <h1>Edit Wines</h1>

    <h2>Wines</h2>

    <ul>
        <% wine.forEach(wine => { %>
        <li>
          <strong><%= wine.name %></strong><br>
          Origin: <%= wine.origin %> <br>
          Category: <%= wine.category %> <br>
          Glass Price: <%= wine.glass_price %> <br>
          Small Price: <%= wine.small_price %> <br>
          Medium Price: <%= wine.medium_price %> <br>
          Large Price: <%= wine.large_price %> <br>
          Bottle Price: <%= wine.bottle_price %> <br>
          
          <!-- Edit Form -->
          <form action="edit" method="POST">
            <input type="hidden" name="category" value="wine">
            <input type="hidden" name="id" value="<%= wine.id %>"> <!-- Keep the wine ID for updating -->
            <input type="text" name="name" placeholder="Name" value="<%= wine.name %>" required>
            <input type="text" name="origin" placeholder="Origin" value="<%= wine.origin %>" required>

            <!-- Category Dropdown -->

            <select id="category" name="category" required>
              <% const categories = ["White Champagne", "Rose Champagne", "White Wine", "Rose Wine", "Red Wine"]; %>
              <% categories.forEach(function(category) { %>
                <option value="<%= category %>" <%= category === wine.category ? 'selected' : '' %>>
                  <%= category %>
                </option>
              <% }); %>
            </select>

            <!-- Price Fields -->
            <input type="number" step="0.01" name="glass_price" placeholder="Glass Price" value="<%= wine.glass_price %>">
            <input type="number" step="0.01" name="small_price" placeholder="Small Price" value="<%= wine.small_price %>">
            <input type="number" step="0.01" name="medium_price" placeholder="Medium Price" value="<%= wine.medium_price %>">
            <input type="number" step="0.01" name="large_price" placeholder="Large Price" value="<%= wine.large_price %>">
            <input type="number" step="0.01" name="bottle_price" placeholder="Bottle Price" value="<%= wine.bottle_price %>">

            <button type="submit">Edit</button>
          </form>
        </li>
        <% }) %>
    </ul>

</body>
</html>