<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food & Drinks</title>
</head>
<body>
  <h1>Food and Drinks</h1>

  <h2>Food</h2>
  <ul>
    <% food.forEach(item => { %>
    <li>
      <strong><%= item.name %></strong> - $<%= item.price %> <br>
      Ingredients: <%= item.ingredients %> <br>
      Allergens: <%= item.allergens && item.allergens.length > 0 ? item.allergens.join(', ') : 'None' %>
    </li>
    <% }) %>
    
  </ul>

  <h2>Drinks</h2>
  <ul>
    <% drink.forEach(item => { %>
    <li>
      <strong><%= item.name %></strong> - $<%= item.price %> <br>
      Ingredients: <%= item.ingredients %> <br>
      Allergens: <%= item.allergens && item.allergens.length > 0 ? item.allergens.join(', ') : 'None' %>
    </li>
    <% }) %>
</body>
</html>